PORT=8787
IMAGEKIT_PUBLIC_KEY=public_/gytdHMHubFq6eR9gsR4HPw2Tys=
IMAGEKIT_PRIVATE_KEY=SET_ONLY_IN_SERVER_ENVIRONMENT
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
ENFORCE_HTTPS=true
# Set true after the Android client is configured to send X-Firebase-AppCheck.
REQUIRE_APP_CHECK=false
